@import url("fonts/stylesheet.css");

*{	
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'SF Pro Display', sans-serif;
	font-weight: 400;
    font-style: normal;
}
body{
	position: relative;
	padding: 3%;
	width: 100%;
}
#cross{
	position: fixed;
	right: 3%;
	color: rgba(159, 156, 151, 0.5);
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 800px;
	
}
.title{
	display: flex;
	font-size: 40px;
	font-weight: 700;

}
.prices{  
	display: flex;
	flex-direction: column;
}

.year,
.month{
	display: flex;
	flex-direction: row;
	border: 1px solid #EE334B;
	border-radius: 40px;
	color: #EE334B;
	padding: 10px;
	width: 374px;
	height: 80px;
	margin: 5px; 			
}
.button{
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #EE334B, #fb4b95); 
	color: #fff;
	border-radius: 40px;
	padding: 8px;
	width: 45%;
}
.terms{
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;

}
.terms-wrap{
	display: flex;
	flex-direction: column;

}
.terms-high{
	font-size: 20px;

}
.block{
	margin-top: 20px;
	margin-bottom: 20px;
}

ul{
	width: 300px;
	list-style-type: none;
	padding-left: 0;
	font-size: 20px;
}
li{	
	white-space: pre;
	margin: 15px;
}
i{
	color: #EE334B;
}
footer {
	position: fixed;
	display: flex;
	font-size: 15px;
	width: 300px;
	bottom: 3%;
	left: 11%;
}
details{
	text-align: center;
}
summary{
	list-style-type: none;
	outline: none;
}

summary::-webkit-details-marker {
display: none;
}
.fade{
	background: linear-gradient(180deg, black -58%, #fff 102%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*mediaQuery for Iphone Xs*/
@media (min-width: 375px) and (max-width: 413px) and (min-height: 812px){ 
	.year,
	.month{
		width: 350px;
					
	}
	section {
    	min-height: 842px;
	}
 
}

/*mediaQuery for Iphone 6/7/8*/
@media (min-width: 375px) and (max-width: 413px) and (max-height: 811px){
 	.year,
	.month{
		width: 350px;			
	}
	section {
    	min-height: 700px;
	}
}

/*mediaQuery for Iphone 5/SE*/
@media (min-width: 320px) and (max-width: 374px) and (max-height: 660px){
 	.year,
	.month{
		width: 280px;			
	}
	section {
    	min-height: 600px;
	}
	.title{
		font-size: 30px;
		font-weight: 700;

	}
	.block{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	ul{
		font-size: 18px;
		font-weight: 200;
		padding-left: 10px;
	}
	li{	
		white-space: pre;
		margin: 5px;
	}
	footer{
		left: 3%;

	}
}

